:root{
    --main_color:rgb(255,247,235) ;
    --second_color: rgb(70,44,21);
    --text_color_main: black;
    --text_color_second: white;
}
a{
    color: inherit; 
    text-decoration:none;
}
body{
    color: var(--text_color_main);
    background-color: var(--main_color);
}
.block{
    display: inline-block;
    width: 40%;
    height: 500px;
    text-align: center;
    vertical-align: top;
    border: 10px;
    margin: 20px;
}
.buttons{
    margin: 20px auto;
}
.container{
    max-width: 80%;
    height: 100%;
    margin: 0 auto;
}
.container_photo{
    margin: 30px auto;
    align-items: center;
}
.contact{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    transition: .1s linear;
}
.cont{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}
footer{
    width: 100%;
    height: 60px;
    font-size: 15px;
    font-weight: 500;
    background-color: var(--second_color);
    color: var(--text_color_second);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    box-shadow: 0px 5px 10px -5px black inset;
}

header{
    color: var(--text_color_second);
    width: 100%;
    vertical-align: middle;
    text-align: center;
    height: 60px;
    background-color: var(--second_color);
}
.hidden_block{
    display: none;
}
.error_block{
    border: #f44336 solid 2px;
} 
.image{   
    width: 100%;
    height: 100%;
    margin: 0 auto 20px;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mainheader{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.nav_link{
    display: inline-block;
    vertical-align: middle;
    margin: 0 22px;
    font-size: 22px;
    position: relative;
}
.section_title{
    text-align: center;
    margin: 25px auto;
}
.section_main{
    text-align: center;
    margin: 30px auto;
}
.section1{
    background-color: var(--main_color);
    color: var(--text_color_main);
    box-shadow: 0px 10px 20px -5px rgb(49, 49, 49, 0.5) inset;
}
.section2{
    background-color: var(--main_color);
    color: var(--text_color_main);
    box-shadow: 0px 0px 20px 5px rgb(49, 49, 49, 0.5);
}
.section3{
    background-color: var(--main_color);
    color: var(--text_color_main);
    box-shadow: 0px 10px 20px -5px rgb(49, 49, 49, 0.5) inset;
}
.slider{
    height: 300px;
    width: 300px;
    margin: 5px auto;
    padding: 10px;
    border: var(--second_color) dotted 7px;
    display: flex;
    overflow: hidden;
}

.sliderln{
    width: 100%;
    position: relative;
    left: 0;
}

.slider-prev, .slider-next{
    margin: 0 50px;
    padding: 5px 7px;
    border: var(--second_color) dotted 4px;
    transition: .1s linear;
    user-select: none;
}

.slider-prev:hover, .slider-next:hover{
    background-color: var(--main_color);
    color: var(--text_color_main);
}
.fix{
    width: 100%;
    height: 100%;
}
.space{
    width: 100%;
    height: 500px;
    background-color: var(--main_color);
}
#switch_mode{
    width: 40px;
    height: 40px;
    padding: 5px;
    margin: 10px;
    text-align: center;
    font-size: 23px;
    background-color: var(--main_color);
    color: var(--text_color_main);
    border: none;
}
table
{
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}
.two_colums{
    display: flex;
    justify-content: space-around;
    text-align: left;
}

#task{
    border-radius: 20px;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5);
}

.list_header {
    background-color: var(--main_color);
    height: 100px;
    padding: 30px 20px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-between;
}.addButton {
    padding: 3px;
    width: 25%;
    color: var(--text_color_main);
    text-align: center;
    border: 7px solid var(--main_color);
    box-shadow: -7px -7px 15px var(--text_color_main),
            7px 7px 15px rgba(0, 0, 0, 0.2);
    user-select: none;
}


.list_header input {
    margin: 0;
    border: none;
    width: 73%;
    padding: 10px;
    font-size: 16px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.list{
    list-style-type: none;
}

.list li{
    color: black;
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    transition: 0.2s;

    user-select: none;
}

.list li:nth-child(odd) {
    background: #f9f9f9;
}

.list li:last-child {
    overflow: hidden;
}

.list li:hover {
    background: #ddd;
}


.list li.done {
    background: #888;
    color: white;
    text-decoration: line-through;
}

.list li.done::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

.list span {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}
  
.list span:hover {
    background-color: #f44336;
    color: white;
}
.timer{
    width: 60vw;
    margin: 0 auto;
    padding: 30px;

    background-color: var(--second_color);
}

.time_buttons{
    display: flex;
    justify-content: space-around;
}


.time{
    margin: 30px auto;
    display: flex;
    justify-content: center;

    color: var(--text_color_second);

    font-size: xx-large;
}

.time_action_buttons{
    display: flex;
    justify-content: center;
}

.time_action_button{
    padding: 10px;
    margin: 0 20px;
    border: none;
    background-color: var(--main_color);
    color: var(--text_color_main);
    font-size: large;
}